@model Banking.Web.ViewModel.BankAccountViewModel
@{
    ViewBag.Title = "CheckAccountBalance";
}

<h2>Account Detail:</h2>

<p>Balance for account number <b>@Model.AccountNumber</b> is <b>$@Model.Balance</b></p>

